@namespace Blazr.UIComponents
@inherits UIComponentBase

@if (this.IsHeader)
{
    <th class="@this.HeaderCss">
        @((MarkupString)this.HeaderTitle)
    </th>
}
else if (this.isMaxRowColumn)
{
<td class="@this.TDCss" @attributes="this.SplatterAttributes">
    <div class="grid-overflow">
        <div class="grid-overflowinner">
            @ChildContent
        </div>
    </div>
</td>
}
else
{
    <td class="@this.TDCss" @attributes="this.SplatterAttributes">
        @this.ChildContent
    </td>
}
